*
{
   margin:0px;
}
/* BACKGROUND COLOR OF THE BODY */
body{
   background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
height: 100vh;
}

/* HEADING */
header
{ 
   display: flex;
   font-size: 2em;
   padding:0.1em 0.1em;
   margin: auto;
   justify-content: center;
   align-items: center;
   font-family:  "Montserrat";

   
}
.scores
{
   padding:0.5em;
   display: flex;
   flex-direction: row;
   margin:auto;
   justify-content: center;
   align-items: center;
   
}

.scores span
{
   background-color: aliceblue;
   box-shadow: 10px 5px 5px #0492c2;
   border-radius: 10px;
   font-size: 2em;
   padding:0em 1em;
   display: flex;
   flex-direction: row;
   margin-left:5em;
   margin-right:5em;
   justify-content: center;
   align-items: center;
   font-family: "Montserrat";
   cursor:pointer;
   
}
/* div that contains the game block */
#game
{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 40px;
   height: 50%;
   flex-direction: column;
   font-family: "Montserrat";
   padding: 5px;
   
}
#tile0,#tile2,#tile6,#tile8
{
   margin: auto;
   height: 1.5em;
   width: 1.5em;
   display: flex;         
   justify-content: center;
   align-items: center;
   
}
#tile1,#tile7
{
   height: 1.5em;
   width: 1.5em;
   border-right:7px solid rgba( 255, 255, 255, 0.4);
   border-left:7px solid rgba( 255, 255, 255, 0.4);
   display: flex;         
   justify-content: center;
   align-items: center;
}
#tile3,#tile5
{
   height: 1.5em;
   width: 1.5em;
   border-top:7px solid rgba( 255, 255, 255, 0.4);
   border-bottom:7px solid rgba( 255, 255, 255, 0.4);
   display: flex;         
   justify-content: center;
   align-items: center;
}
#tile4
{
   height: 1.5em;
   width: 1.5em;
   border:7px solid rgba( 255, 255, 255, 0.4);
   display: flex;         
   
   justify-content: center;
   align-items: center;
 
}

#grid
{
display: grid;
grid-template-columns: auto auto auto;
font-size:50px;
border: 2px solid red;
padding:5px;
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
/* reset button */
 div button{
   margin-top: 20px;
   padding:10px 40px;
   border-radius: 20px;
   font-family: 'Hubballi', cursive;
   background: radial-gradient(circle, rgba(174,193,238,1) 18%, rgba(148,233,209,1) 87%);
   
 }
 #reset
 { 
    display: flex;
justify-content: center;
   align-items: center;
   border: none;
   
 }
 

/* responsive design */
@media (max-width: 720px){
   header
   {
      font-size: 1.5em;
   }
   .scores span
   {
      font-size: 15px;
      padding:5px 15px;
      margin-left:15px;
      margin-right:15px;
   }
   #tile0,#tile1,#tile2,#tile3,#tile4,#tile5,#tile6,#tile7,#tile8
   {
      height: 60px;
      width: 60px;
   }
  
   #grid
   {  font-size:50px;
   }
   div button{
      margin-bottom: 5px;
      padding:5px 5px;
      border-radius: 10px;
    }
#game
{
   margin:30px;
}
}
@media (max-width: 1000px){
    .scores span
   {
      font-size: 20px;
      padding:5px 20px;
      margin-left:30px;
      margin-right:30px;
   }

}